.margarine-font {
    font-family: "Margarine", cursive;
  }
  .nunito-font {
    font-family: "Nunito Sans", sans-serif;
  }
  .slick-slide {
    margin: 0 10px !important; /* Forces gap between slides */
  }

  
  
  