@import "tailwindcss";

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
  }
  